In [2]:
import pandas as pd
import numpy as np

In [16]:
year0=pd.read_csv("year0_prediction.csv")
year1=pd.read_csv("year1_prediction.csv")
year2=pd.read_csv("year2_predition.csv")
year3=pd.read_csv("year3_prediction.csv")
year4=pd.read_csv("year4_prediction.csv")
year5=pd.read_csv("year5_prediction.csv")
year6=pd.read_csv("year6_prediction.csv")
year7=pd.read_csv("year7_prediction.csv")
year8=pd.read_csv("year8_prediction.csv")
year9= pd.read_csv("year9_prediction.csv")
year10=pd.read_csv("year10_prediction.csv")
data=pd.read_csv("data.csv",index_col = 0)

In [21]:
new_data = data.merge(year0,how='left', on='ID')
new_data = new_data.merge(year1,how='left', on='ID')
new_data = new_data.merge(year2,how='left', on='ID')
new_data = new_data.merge(year3,how='left', on='ID')
new_data = new_data.merge(year4,how='left', on='ID')
new_data = new_data.merge(year5,how='left', on='ID')
new_data = new_data.merge(year6,how='left', on='ID')
new_data = new_data.merge(year7,how='left', on='ID')
new_data = new_data.merge(year8,how='left', on='ID')
new_data = new_data.merge(year9,how='left', on='ID')
new_data = new_data.merge(year10,how='left', on='ID')

In [22]:
data

,AGE,AGE_DON,BMI_CALC,BMI_DON_CALC,BUN_DON,CREAT_DON,CREAT_TRR,DAYS_STAT1,DAYS_STAT1A,DAYS_STAT1B,...,CARD_SURG_N,CARD_SURG_UNKNOWN,HEPARIN_N,HEPARIN_UNKNOWN,ANCEF_N,ANCEF_UNKNOWN,DOPAMINE_N,DOPAMINE_UNKNOWN,ZOSYN_N,ZOSYN_UNKNOWN
1,52,24,21.434609,26.631409,13.0,1.00,1.20,0,0,0,...,0,1,0,1,0,1,0,1,0,1
2,48,22,28.398718,37.787058,13.0,1.00,1.20,0,0,0,...,0,1,0,1,0,1,0,1,0,1
3,44,25,20.619254,23.344121,13.0,1.00,1.20,0,0,0,...,0,1,0,1,0,1,0,1,0,1
4,59,27,29.407788,29.158955,13.0,1.00,1.20,0,0,0,...,0,1,0,1,0,1,0,1,0,1
5,56,28,21.484375,27.124606,13.0,1.00,1.20,0,0,0,...,0,1,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48438,61,39,23.000820,28.920556,35.0,2.30,0.90,0,9,0,...,1,0,1,0,1,0,1,0,0,0
48439,54,40,19.676858,26.055363,4.0,0.57,0.86,0,90,0,...,0,0,1,0,1,0,0,0,1,0
48440,53,47,34.926380,41.755186,29.0,1.36,1.20,0,35,25,...,1,0,1,0,1,0,1,0,0,0
48441,61,28,37.875356,33.532938,13.0,0.70,1.30,0,16,0,...,0,0,0,1,0,1,0,1,0,1
48442,33,35,30.683451,31.254001,16.0,0.90,1.40,0,286,654,...,0,0,1,0,1,0,1,0,1,0

In [23]:
new_data

,AGE,AGE_DON,BMI_CALC,BMI_DON_CALC,BUN_DON,CREAT_DON,CREAT_TRR,DAYS_STAT1,DAYS_STAT1A,DAYS_STAT1B,...,year7_prob,year8_real,year8_pred,year8_prob,year9_real,year9_pred,year9_prob,year10_real,year10_pred,year10_prob
0,52,24,21.434609,26.631409,13.0,1.00,1.20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48,22,28.398718,37.787058,13.0,1.00,1.20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44,25,20.619254,23.344121,13.0,1.00,1.20,0,0,0,...,0.470412,1.0,2.0,0.512121,1.0,2.0,0.509773,1.0,2.0,0.505782
3,59,27,29.407788,29.158955,13.0,1.00,1.20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,56,28,21.484375,27.124606,13.0,1.00,1.20,0,0,0,...,0.507765,2.0,2.0,0.524879,2.0,2.0,0.524476,2.0,2.0,0.545338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48342,61,39,23.000820,28.920556,35.0,2.30,0.90,0,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48343,54,40,19.676858,26.055363,4.0,0.57,0.86,0,90,0,...,0.277381,1.0,1.0,0.187183,1.0,1.0,0.165219,1.0,1.0,0.090821
48344,53,47,34.926380,41.755186,29.0,1.36,1.20,0,35,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48345,61,28,37.875356,33.532938,13.0,0.70,1.30,0,16,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48346,33,35,30.683451,31.254001,16.0,0.90,1.40,0,286,654,...,0.062983,1.0,1.0,0.051517,1.0,1.0,0.041607,1.0,1.0,0.028661

In [27]:
new_data.dropna()

,AGE,AGE_DON,BMI_CALC,BMI_DON_CALC,BUN_DON,CREAT_DON,CREAT_TRR,DAYS_STAT1,DAYS_STAT1A,DAYS_STAT1B,...,year7_prob,year8_real,year8_pred,year8_prob,year9_real,year9_pred,year9_prob,year10_real,year10_pred,year10_prob
2,44,25,20.619254,23.344121,13.0,1.00,1.20,0,0,0,...,0.470412,1.0,2.0,0.512121,1.0,2.0,0.509773,1.0,2.0,0.505782
4,56,28,21.484375,27.124606,13.0,1.00,1.20,0,0,0,...,0.507765,2.0,2.0,0.524879,2.0,2.0,0.524476,2.0,2.0,0.545338
14,67,42,36.443123,27.915519,85.0,5.60,1.30,0,6,0,...,0.195213,1.0,1.0,0.114805,1.0,1.0,0.075026,1.0,1.0,0.035516
27,56,17,33.450535,22.424813,18.0,1.00,1.20,0,6,280,...,0.202387,1.0,1.0,0.239563,1.0,1.0,0.133936,1.0,1.0,0.071031
49,39,34,27.555611,35.444474,118.0,10.97,0.40,0,1,0,...,0.343172,1.0,1.0,0.307036,1.0,1.0,0.144928,1.0,1.0,0.103764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48263,52,60,25.544044,22.076125,24.0,1.72,0.92,0,9,0,...,0.222273,1.0,1.0,0.179240,1.0,1.0,0.085776,1.0,1.0,0.025281
48331,69,33,31.938704,39.155136,22.0,1.46,2.00,0,18,930,...,0.300551,1.0,1.0,0.246579,1.0,1.0,0.130358,1.0,1.0,0.026461
48339,23,31,24.935842,32.192905,20.0,1.10,0.85,0,98,0,...,0.486341,1.0,1.0,0.365754,1.0,1.0,0.249909,1.0,1.0,0.125194
48343,54,40,19.676858,26.055363,4.0,0.57,0.86,0,90,0,...,0.277381,1.0,1.0,0.187183,1.0,1.0,0.165219,1.0,1.0,0.090821
48346,33,35,30.683451,31.254001,16.0,0.90,1.40,0,286,654,...,0.062983,1.0,1.0,0.051517,1.0,1.0,0.041607,1.0,1.0,0.028661

In [25]:
new_data.to_csv('full_data.csv')